{% extends "base.html" %}

{% block content %}
  <h2>Edit your profile</h2>
  <form action="" method="post">
    
    <h3>Account information</h3>
    <p>Your e-mail address is required, but will never be displayed to others. Your first and last name are optional &mdash; if you include them, they will be displayed to others.</p>
    
    <label for="user_first_name">First name:</label>
    <label for="user_first_name" class="help">Enter your first name (optional).</label>
    {{ user_form.first_name }}<br />
    {% if user_form.first_name.errors %}<ul class="error-list">{{ user_form.first_name.errors }}</ul>{% endif %}
    
    <label for="user_last_name">Last name:</label>
    <label for="user_last_name" class="help">Enter your last name (optional).</label>
    {{ user_form.last_name }}<br />
    {% if user_form.last_name.errors %}<ul class="error-list">{{ user_form.last_name.errors }}</ul>{% endif %}
    
    <label for="user_email">E-mail address:</label>
    <label for="user_email" class="help">Enter your e-mail address.</label>
    {{ user_form.email }}<br />
    {% if user_form.email.errors %}<ul class="error-list">{{ user_form.email.errors }}</ul>{% endif %}
    
    <h3>Profile information</h3>
    <p>Your profile information is displayed on your site profile. All fields are optional.</p>
    
    <label for="profile_display_name">Display Name:</label>
    <label for="profile_gender" class="help">Enter a display name (optional).</label>
    {{ profile_form.display_name }}<br />
    {% if profile_form.display_name.errors %}<ul class="error-list">{{ profile_form.display_name.errors }}</ul>{% endif %}
    
    <label for="profile_gender">Gender:</label>
    <label for="profile_gender" class="help">Select your gender (optional).</label>
    {{ profile_form.gender }}<br />
    {% if profile_form.gender.errors %}<ul class="error-list">{{ profile_form.gender.errors }}</ul>{% endif %}
    
    <label for="profile_one_line_description">One-line description:</label>
    <label for="profile_one_line_description" class="help">Enter a short description of yourself (optional).</label>
    {{ profile_form.one_line_description }}<br />
    {% if profile_form.one_list_description.errors %}<ul class="error-list">{{ profile_form.one_list_description.errors }}</ul>{% endif %}
    
    <label for="profile_bio">Bio:</label>
    <label for="profile_bio" class="help">Enter some biographical text about yourself (optional).</label>
    {{ profile_form.bio }}<br />
    {% if profile_form.bio.errors %}<ul class="error-list">{{ profile_form.bio.errors }}</ul>{% endif %}
    
    <label for="profile_occupation">Occupation:</label>
    <label for="profile_occupation" class="help">Enter your occupation (optional).</label>
    {{ profile_form.occupation }}<br />
    {% if profile_form.occupation.errors %}<ul class="error-list">{{ profile_form.occupation.errors }}</ul>{% endif %}
    
    <label for="profile_interests">Interests:</label>
    <label for="profile_interests" class="help">Enter some of your interests (optional).</label>
    {{ profile_form.interests }}<br />
    {% if profile_form.interests.errors %}<ul class="error-list">{{ profile_form.interests.errors }}</ul>{% endif %}
    
    <h3>Location information</h3>
    <p>Your zip code is used by site staff to personalize the site for your location. If you select "Display on map," your city and state will be displayed to others.</p>
    
    <label for="profile_zip_code">Zip code:</label>
    <label for="profile_zip_code" class="help">Enter your zip code (optional).</label>
    {{ profile_form.zip_code }}<br />
    {% if profile_form.zip_code.errors %}<ul class="error-list">{{ profile_form.zip_code.errors }}</ul>{% endif %}
    
    <label for="profile_display_on_map">Display on map:</label>
    {{ profile_form.display_on_map }}<br />
    {% if profile_form.display_on_map.errors %}<ul class="error-list">{{ profile_form.display_on_map.errors }}</ul>{% endif %}
    
    
    <h3>SMS information</h3>
    <p>If you wish to use the site's SMS test message functions, enter your mobile phone details.</p>
    
    <label for="profile_mobile_number">Mobile number:</label>
    <label for="profile_mobile_number" class="help">Enter your mobile phone number (optional).</label>
    {{ profile_form.mobile_number }}<br />
    {% if profile_form.mobile_number.errors %}<ul class="error-list">{{ profile_form.mobile_number.errors }}</ul>{% endif %}
    
    <label for="profile_mobile_carrier">Mobile carrier:</label>
    <label for="profile_mobile_carrier" class="help">Select your mobile carrier (optional).</label>
    {{ profile_form.mobile_carrier }}<br />
    {% if profile_form.mobile_carrier.errors %}<ul class="error-list">{{ profile_form.mobile_carrier.errors }}</ul>{% endif %}
    
    <input type="submit" value="submit" />
  </form>
{% endblock %}