{% extends "base.html" %}

{% block title %}Bookmarks{% endblock %}

{% block content %}
  <h2>Bookmarks</h2>
    {% for bookmark in bookmarks %}
      {% get_comment_list for bookmark as comment_list %}
      <h3><a href="{{ bookmark.get_absolute_url }}">{{ bookmark.title|typogrify }}</a></h3>
      <p>{{ bookmark.date_published|date:"m.d.Y" }}, <a href="{{ bookmark.get_absolute_url }}#comments">{{ comment_list|length }} Comment{{ comment_list|length|pluralize }}</a></p>
      {{ bookmark.description|markdown }}
    {% endfor %}
{% endblock %}

{% block sidebar %}
  <h3>Archives</h3>
  <ul>
    {% for year in date_list %}
      <li><a href="{% url bookmark_archive_year year.year %}">{{ year|date:"Y" }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}