<form id="timelines_model_chooser" action="" method="get" class="filter">
  {% if search_string %}
    <input type="hidden" name="search" value="{{ search_string|escape }}" id="search">
  {% endif %}
  <fieldset>
    {% for content_type in all_content_types %}
      <label>
        <input type="checkbox" onchange="this.form.submit();" name="models" value="{{ content_type.app_label }}.{{content_type.model }}" {% if content_type|IN:content_types %}checked="checked"{% endif %} />
        {% ifequal content_type.name "beer" %}
          Beer added
        {% endifequal %}
        {% ifequal content_type.name "review" %}
          Review added
        {% endifequal %}
        {% ifequal content_type.name "brewery" %}
          Brewery added
        {% endifequal %}
        {% ifequal content_type.name "fave" %}
          Beer added to personal list
        {% endifequal %}
        {% ifequal content_type.name "relationship" %}
          Relationship added
        {% endifequal %}
        {% ifequal content_type.name "profile" %}
          User joined
        {% endifequal %}
        {% ifequal content_type.name "user recommendation" %}
          Beer recommended
        {% endifequal %}
      </label>
    {% endfor %}
  </fieldset>
</form>
{# {% if not search_string %}<a class="continue-link" href="{{ feed_url }}">RSS feed for selection</a>{% endif %} #}