{% extends "base.html" %}

{% block title %}{{ photo.title|typogrify }}{% endblock %}

{% block content %}
  <h2>{{ photo.title|typogrify }}</h2>
  {% if photo.is_flickr_favorite %}
    <h3><a href="http://flickr.com/people/{{ photo.flickr_photo.owner.nsid }}">{{ photo.flickr_photo.owner }}</a></h3>
  {% endif %}
  <img src="{{ photo.flickr_photo.medium_image_url }}" title="{{ photo.title }}" alt="{{ photo.title }}" />
  {{ photo.description|markdown|typogrify }}
  
  <h2>Comments</h2>
  {% display_comment_list photo %}
{% endblock %}

{% block sidebar %}
  {% if photo.location %}
    <h3>Location</h3>
    {% if photo.location.miles_from %}
      <p>Taken about {{ photo.location.miles_from }} miles from {{ photo.location.city.full_name }}.</p>
    {% else %}
      <p>Taken in {{ photo.location.city.full_name }}.</p>
    {% endif %}
  {% endif %}
  
  {% if gallery %}
    <h3>From gallery <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h3>
    <ul>
      {% if galleryphoto.get_next_galleryphoto %}
        <li><a href="{{ galleryphoto.get_next_galleryphoto.get_absolute_url }}">Next photo in gallery</a></li>
      {% endif %}
      {% if galleryphoto.get_previous_galleryphoto %}
        <li><a href="{{ galleryphoto.get_previous_galleryphoto.get_absolute_url }}">Previous photo in gallery</a></li>
      {% endif %}
    </ul>
  {% endif %}
  
{% endblock %}