{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<h2>Register</h2>

{% if error_message %}
  <p class="error">{{ error_message }}</p>
{% else %}
  <p>To register for this site, fill out the form below.</p>
{% endif %}

<form action="{{ app_path }}" method="post">
  <fieldset>
    <label for="id_username">Username:</label>
    <label for "id_username" class="help">What would you like to be known as on the site? No spaces allowed.</label>
    {% if form.username.errors %} <p class="error">{{ form.username.errors|join:", " }}</p>{% endif %}
    {{ form.username }}<br />
    
    <label for="id_email">Email address:</label>
    <label for="id_email" class="help">It must be legit in order to sign up. We'll make you prove it.</label>
    {% if form.email.errors %} <p class="error">{{ form.email.errors|join:", " }}</p>{% endif %}
    {{ form.email }}<br />
    
    <label for="id_password1">Password:</label>
    <label for="id_password1" class="help">Choose a password to log in with.</label>
    {% if form.password1.errors %} <p class="error">{{ form.password2.errors|join:", " }}</p>{% endif %}
    {{ form.password1 }}<br />
    
    <label for="id_password2">And again:</label>
    <label for="id_password2" class="help">Enter your password again just to make sure you don't have any typos.</label>
    {% if form.password2.errors %} <p class="error">{{ form.password2.errors|join:", " }}</p>{% endif %}
    {{ form.password2 }}<br />
  </fieldset>
  <fieldset>
    <label for="id_submit">Submit</label>
    <input id="id_submit" type="submit" value="Register" />
  </fieldset>
</form>
{% endblock %}
