{% extends "base.html" %}

{% block title %}{{ bookmark.title|typogrify }}{% endblock %}

{% block content %}
  {% get_comment_list for bookmark as comment_list %}
  <h2>{{ bookmark.title|typogrify }}</h2>
  <p>{{ bookmark.date_published|date:"m.d.Y" }}, <a href="{{ bookmark.get_absolute_url }}#comments">{{ comment_list|length }} Comment{{ comment_list|length|pluralize }}</a></p>
  {{ bookmark.intro_rendered_markup }}
  
  <h2>Comments</h2>
  {% display_comment_list bookmark %}
  
  <h3>Add a comment</h3>
  {% display_comment_form bookmark %}
{% endblock %}

{% block sidebar %}
  <h5>Comments</h5>
  {% get_comment_list for bookmark as comment_list %}
  <p>There are currently {% if comment_list %}<a href="#comments">{{ comment_list|length|apnumber }} comment{{ comment_list|length|pluralize }}</a>{% else %}no comments{% endif %} on this bookmark. If you have something to say, please consider <a href="#comment-form">adding your own</a>.</p>
  <p>You can also <a href="/links/feeds/comments-for-bookmark/{{ entry.url_string }}">subscribe to an RSS feed of this entry&#8217;s comments</a>.</p>
  
  <h5>This bookmark&#8217;s tags</h5>
  {% tags_for_object bookmark as tag_list %}
  <ul>
    {% for tag in tag_list %}
      <li><a href="/tags/{{ tag.name }}">{{ tag.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}