{% extends "base.html" %}

{% block title %}Bookmarks for {{ month|date:"F, Y" }}{% endblock %}

{% block content %}
  <h2>Bookmarks for {{ month|date:"F, Y" }}</h2>
  {% for bookmark in bookmark_list %}
    {% get_comment_list for bookmark as comment_list %}
    <h3><a href="{{ bookmark.get_absolute_url }}">{{ bookmark.title|typogrify }}</a></h3>
    <p>{{ bookmark.date_published|date:"m.d.Y" }}, <a href="{{ bookmark.get_absolute_url }}#comments">{{ comment_list|length }} Comment{{ comment_list|length|pluralize }}</a></p>
    {{ bookmark.description|markdown }}
  {% endfor %}
{% endblock %}