<dt><strong>Comment:</strong> <a href="{{ comment.parent_object.get_absolute_url }}#c{{ comment.id }}">{% if comment.title %}{{ comment.title }}{% else %}{{ comment.body|truncatewords_html:"10" }}{% endif %}</a></dt>
<dd>on <a href="{{ comment.parent_object.get_absolute_url }}">{{ comment.parent_object.title }}</a></dd>
{% if comment.person %}
  <dd>by <a href="{{ comment.person.get_absolute_url }}">{{ comment.person.name }}</a></dd>
{% else %}
  {% if comment.author_url %}
    <dd>by <a href="{{ comment.author_url }}">{{ comment.author_name }}</a></dd>
  {% else %}
    <dd>by {{ comment.author_name }}</dd>
  {% endif %}
{% endif %}
<dd>{{ comment.date_submitted|date:"l, F, j, Y \a\t h:iA" }}</dd>