{% extends "base.html" %}

{% block title %}Search results for "{{ query }}"{% endblock %}

{% block content %}
{% load pagination_tags %}
    <h2>Search results for <strong>{{ query }}</strong></h2>
    {% if page.object_list %}
        <ul id="listing">
            {% for result in page.object_list %}
            <li class="{% cycle odd,even %}">
                  {% render_template_for result.object in "search/snippets" %}
            </li>
            {% endfor %}
        </ul>
        {% include "pagination/pagination.html" %}
    {% else %}
        <p>Drat! We found no beers by that name. Fancy another try? Search below.</p>
    {% endif %}
{% endblock %}
