{% extends "base.html" %}
{% block sidebar %}
	<div class="module">
	  <h3>About the blog</h3>
		<p>Howdy! Welcome to our blog.  Here, you can stay up-to-date with info about tasty beers, new 97bottles.com features, beercasts (coming soon!), and more.  Browse around and see what we've been up to.</p>
		<p>Also, we'd love to know what you like (and don't like) about this blog--Feel free to give us your <a href="/pages/contact/">suggestions and feedback</a>!</p>
		<p>Salud!</p>
  </div>
  {% include "snippets/newsletter.html" %}
{% endblock %}