{% extends "blogs/base.html" %}

{% block title %}{{ entry.title|typogrify }}{% endblock %}

{% block content-wrapper %}
  {% load comments %}
  <div class="module light">
    {% get_comment_list for entry as comment_list %}
    <h3><a href="/blog/feeds/latest-entries" class="subscribe-icon" title="Subscribe to the 97 Bottles blog"><img src="/static/ninetyseven/assets/img/core/rss.png" alt="subscribe" /></a><a href="{% url blog_index %}">{{ blog.title }}</a> &middot; Entry</h3>
      {% if entry.author.user.profile.avatar %}
        <a class="entry-author-avatar" href="{% url profile_detail entry.author.user.username %}"><img class="user-avatar" src="{{ entry.author.user.profile.avatar.url|thumbnail:"75x75" }}" title="Posted by {{ entry.author.name }}" style="width: 75px; height: 75px;" /></a>
      {% endif %}
      <div class="entry-details span-12 prepend-3 last">
        <h2>{{ entry.title|typogrify }}</h2>
        <p class="entry-meta">{{ entry.date_published|date:"N jS, Y" }} &middot; Posted by <a href="{% url profile_detail entry.author.user.username %}">{{ entry.author }}</a> &middot; <a href="{{ entry.get_absolute_url }}#comments">{{ comment_list|length }} Comment{{ comment_list|length|pluralize }}</a></p>   
        {{ entry.intro_rendered_markup }}
        {{ entry.body_rendered_markup }}
        {{ entry.body_extended_rendered_markup }}
      </div>
    <div id="comments">
      {% if entry.enable_comments %}
        <h3>{{ comment_list|length }} Comment{{ comment_list|length|pluralize }}</h3>
        {% if comment_list %}
          <ol class="comment-list">
            {% for comment in comment_list %}
              {% include "comments/snippets/comment_item.html" %}
            {% endfor %}
          </ol>
        {% else %}
          <p class="no-comments">This entry doesn't have any comments yet.</p>
        {% endif %}
      {% endif %}  
    </div>
  </div>
  <div class="floating-logo-wrapper"><div class="floating-logo-review"></div></div>
  <div id="add-comment" class="module">
    <h3>Add a comment</h3>
    {% render_comment_form for entry %}
  </div>
{% endblock %}

