{% extends "base.html" %}


{% block title %}Profile for {{ profile.name }}{% endblock %}

{% block content %}
  
  <h2 id="user_name">{{ profile.name }}
    <em id="user_city">{{ profile.city }}</em></h2>
  <h3 id="user_age_and_gender">{{ profile.get_gender_display }}{% if profile.age %}, {{ profile.age }}{% endif %}</h3>
  
  {% if profile.services.all %}
  <h3 class="list_title">Services</h3>
  <ul class="link_list">
    {% for service in profile.services.all %}
    <li><a href="{{ service.service_url }}">{{ service.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  
  {% if profile.links.all %}
  <h3 class="list_title">Links</h3>
  <ul class="link_list">
    {% for link in profile.links.all %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}