<form class="comment-form" action="/comments/post/" method="post">
  <fieldset>
  <label for="comment_author_name">Your name:</label>
  <label for="comment_author_name" class="help">Real names preferred.</label>
  {{ comment_form.author_name }}<br />
  {% if comment_form.author_name.errors %}<ul class="error-list">{{ comment_form.author_name.errors }}</ul>{% endif %}
  
  <label for="comment_author_email_address">Your e-mail:</label>
  <label for="comment_author_email_address" class="help">Required</label>
  {{ comment_form.author_email_address }}<br />
  {% if comment_form.author_email_address.errors %}<ul class="error-list">{{ comment_form.author_email_address.errors }}</ul>{% endif %}
  
  <label for="comment_author_url">Your URL:</label>
  <label for="comment_author_url" class="help"><span>Checked for validity.</span></label>
  {{ comment_form.author_url }}<br />
  {% if comment_form.author_url.errors %}<ul class="error-list">{{ comment_form.author_url.errors }}</ul>{% endif %}
  
  <label for="comment_body">Your thoughts:</label>
  <label for="comment_body" class="help"><strong>Be respectful, or be banned.</strong><br />Please use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax for formatting. HTML is frowned upon.</label>
  {{ comment_form.body }}<br />
  {% if comment_form.body.errors %}<ul class="error-list">{{ comment_form.body.errors }}</ul>{% endif %}
  
  <label for="post">Submit:</label>
  <input type="submit" class="button" id="preview" name="preview" value="Preview" />
  <input type="submit" class="button" id="post" name="post" value="Post" /><br />
  
  <input type="hidden" name="target_content_type" value="{{ comment_target_content_type }}" />
  <input type="hidden" name="target_object_id" value="{{ comment_target_object_id }}" />
</form>