{% extends "base.html" %}

{% block title %}Comments{% endblock %}

{% block content %}
  <h2>Comments</h2>
  <ul>
    {% for comment in latest %}
      <li><a href="{{ comment.get_absolute_url }}">{{ comment.author_name }}</a> on <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block sidebar %}
  <h3>Archives</h3>
  <ul>
    {% for year in date_list %}
      <li><a href="{% url comment_index %}{{ year|date:"Y" }}/">{{ year|date:"Y" }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}