{% extends "base.html" %}

{% block title %}{{ person }}{% endblock %}
{% block page-title %}{{ person }}{% endblock %}

{% block content %}
  <div class="container span-10">
    {% if person.photo %}
      {% if person.get_photo_url|is_vertical %}
        <img class="unit first person-photo span-4" src="{{ person.get_photo_url|thumbnail:"230" }}" />
      {% else %}
        <img class="unit first person-photo span-6" src="{{ person.get_photo_url|thumbnail:"350" }}" />
      {% endif %}
    {% endif %}
    <ul class="unit role-list span-4 last">
      {% for role in person.role_set.all  %}
        <li>{{ role.role }}, <a href="{{ role.organization.get_absolute_url }}">{{ role.organization }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% if person.bio %}
    <h3>About {{ person.first_name }}</h3>
    {{ person.bio|markdown|typogrify }}
  {% endif %}
  {% if person.biohighlight_set.all %}
    <h4>Career highlights</h4>
    <ul style="margin: 0 0 18px 0;">
      {% for biohighlight in person.biohighlight_set.all  %}
        <li>{{ biohighlight.highlight|markdown|removetags:"p"|typogrify }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

