{% extends "base.html" %}

{% block title %}{{ entry.title|typogrify }}{% endblock %}

{% block content %}
  {% get_comment_list for entry as comment_list %}
  <h2>{{ entry.title|typogrify }}</h2>
  <p>{{ entry.date_published|date:"m.d.Y" }}, <a href="{{ entry.get_absolute_url }}#comments">{{ comment_list|length }} Comment{{ comment_list|length|pluralize }}</a>, <a href="{{ entry.posted_from.get_absolute_url }}">{{ entry.posted_from.name }}</a></p>
  {{ entry.intro_rendered_markup }}
  {{ entry.body_rendered_markup }}
  {{ entry.body_extended_rendered_markup }}
  
  <h3>Comments</h3>
  {% display_comment_list entry %}
  
  <h4>Add a comment</h4>
  {% display_comment_form entry %}
{% endblock %}

{% block sidebar %}
  <h5>Comments</h5>
  {% if entry.enable_comments %}
    {% get_comment_list for entry as comment_list %}
    <p>There are currently {% if comment_list %}<a href="#comments">{{ comment_list|length|apnumber }} comment{{ comment_list|length|pluralize }}</a>{% else %}no comments{% endif %} on this entry. {% if entry.enable_comments %}If you have something to say, please consider <a href="#comment-form">adding your own</a>. {% endif %}</p>
    <p>You can also <a href="/blog/feeds/comments-for-entry/{{ entry.url_string }}">subscribe to an RSS feed of this entry&#8217;s comments</a>.</p>
  {% else %}
    <p>This entry does not accept comments.</p>
  {% endif %}
  
  <h5>This entry&#8217;s tags</h5>
  {% tags_for_object entry as tag_list %}
  <ul>
    {% for tag in tag_list %}
      <li><a href="/tags/{{ tag.name }}">{{ tag.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}