{% extends "base.html" %}

{% block title %}Locations{% endblock %}

{% block content %}
  <h2>Locations</h2>
  {% regroup city_list|dictsort:"country" by get_country_display as country_list %}
  <ul>
    {% for country in country_list %}
      <li>{{ country.grouper }}</a><br />
        
        {% ifequal country.grouper "United States" %}
          {% regroup country.list|dictsort:"state" by get_state_display as state_list %}
        {% else %}
          {% regroup country.list|dictsort:"province" by province as state_list %}
        {% endifequal %}
        
        <ul>
          {% for state in state_list %}
            {% if state.grouper %}
            <li>{{ state.grouper }}</a><br />
              <ul>
                {% for city in state.list|dictsortreversed:"item_count" %}
                  <li><a href="{{ city.get_absolute_url }}">{{ city.city }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
              {% for city in state.list|dictsortreversed:"item_count" %}
                <li><a href="{{ city.get_absolute_url }}">{{ city.city }}</a></li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  
{% endblock %}